.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}

.about-enter-active, .about-leave-active {
  transition: opacity 1s;
}
.about-enter, .about-leave-active {
  opacity: 0;
}
.modal {
  z-index: 1072;
}
